<div style="display: grid; grid-template-columns: 2fr 1.4fr; grid-gap: 2px;">

  <div class="cards my-5">
    <% @spots.each do |spot| %>
      <div class="card-spot">
        <% if spot.photos.attached? %>
          <%= link_to(cl_image_tag(spot.photos.first.key, height: 200, width: 350, crop: :fill), spot_path(spot)) %>
        <% end %>
        <div class="card-spot-infos">
          <div>
            <h2><%= link_to spot.name, spot_path(spot) %></h2>
            <p>Level: <%= spot.level %> </p>
          </div>
          <div>
           <h2><i class="fas fa-map-marker-alt" style="color: rgba(0,0,0,0.7);"></i>&nbsp;<%= spot.location %>, <%= spot.country %></h2>
           <p class="text-right"><%= image_tag("wave.png", width: 22) %>&nbsp;<%= spot.waves %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="map"
     style="width: 100%; height: calc(100vh); position: sticky; top: 0; z-index: 500;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
