<div style="display: grid; grid-template-columns: 2fr 1.4fr; grid-gap: 2px;">
  <div>
    <div class="d-flex justify-content-center mt-2" style="position: sticky; top: 0px; z-index: 1000;  background-color: rgb(244,  244, 244)">
      <%= simple_form_for :search, method: "get", class: 'form-inline' do |f| %>
        <div class="d-flex">
         <div class="mr-2 mb-n2 p-2">
            <%= f.input :level, collection: Spot.level.values, as: :radio_buttons, required: false, input_html: {class: "tag-selector", value: params.dig(:search, :level) }, item_wrapper_class: 'tag-item' %>
          </div>
         <div class="ml-2 mb-n2 p-2">
            <%= f.input :beach_type, collection: Spot.beach_type.values, as: :radio_buttons, required: false, input_html: {class: "tag-selector", value: params.dig(:search, :beach_type) }, item_wrapper_class: 'tag-item'%>
          </div>
        </div>
        <div class="d-flex input-container align-items-center mb-3">
          <div class="p-2 form-inline">
            <%= f.input :country, as: :string, required: false, label: false, placeholder: "Country...", input_html: {class: 'form-control-sm, shadow p-3 bg-white rounded', style: "width: 330px; height: 38px;", value: params.dig(:search, :country) }%>
          </div>
            <div class="d-flex text-center ml-3 p-2">
            <%= f.submit "Search ðŸ”", class: "btn btn-primary mr-2" %>
            <%= link_to "Reset", spots_path, class: "btn btn-primary ml-2" %>
            </div>
        </div>
        <% end %>
    </div>

    <div class="cards my-3">
      <% @spots.each do |spot| %>
        <div class="card-spot">
          <% if spot.photos.attached? %>
            <%= link_to(cl_image_tag(spot.photos.first.key, height: 200, width: 350, crop: :fill), spot_path(spot)) %>
          <% end %>
          <div class="card-spot-infos d-flex justify-content-between align-items-start">
            <div>
              <h2><%= link_to spot.name, spot_path(spot) %></h2>
              <p>Level: <%= spot.level %> </p>
            </div>
            <div class="infos d-flex flex-column align-items-end">
            <h2><i class="fas fa-map-marker-alt " style="color: rgba(0,0,0,0.7);"></i>&nbsp;<%= spot.city %>, <%= spot.country %></h2>
            <p class="text-right"><% spot.waves.times do %>
              <%= image_tag("wave.png", width: 20, style: "margin-left: -6px;") %>
            <% end %>
            <br><i class="far fa-comment" style="color: rgba(0,0,0,0.6); "></i> <%= spot.reviews.count %> </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map"
     style="width: 100%; height: calc(100vh); position: sticky; top: 0; z-index: 500; box-shadow: 0 0 15px rgba(0,0,0,0.1);"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
