<div style="display: grid; grid-template-columns: 1fr 1fr;">
  <div>
    <%= image_tag("marker.png") %>
  </div>
 <div class="container new-review">
    <div class="row">
        <div class="col-xs-4">
          <h2 class="text-center"> <%= @spot.name %>'s spot </h2>
        <%= simple_form_for [ @spot, @review ] do |f| %>
            <%= f.input :title %>
            <%= f.input :content %>
            <%=f.input :photo, as: :file %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
            <br>
            <%= f.submit "Send your review", class:"btn btn-primary" %>
        <% end %>
        </div>
    </div>
  </div>
</div>
